/* BASE */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #ffffff;
    background-color: #e3e3e3;
}

a {
    text-decoration: none;
}

a, button {
    cursor: pointer;
}

/* LAYOUT */

/* .main-container {} */

.content {
    display: flex;
    flex-direction: column;
}

.main-layout {
    width: 1240px;
    margin: 0 auto;
}

/* NAVBAR */

.nav-bar-bc, .footer-bc {
    background-color: #ff7f00;
}

.nav-bar-bc {
    width: 100%;
    margin-bottom: 10px;
}

.nav-bar {
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 40px;
    padding: 5px;
}

.main-nav li {
    border: none;
}

.main-nav li:hover a {
    color: rgb(42, 40, 40);
}

.main-nav li.vertical-line {
    margin: auto 0;
    background-color: #8a8a8a;
    width: 1px;
    height: 40px;
}

.main-nav a {
    color: #ffffff;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color .4s, box-shadow .2s;
}

.main-nav a.active {
    color: rgb(42, 40, 40);
    box-shadow: inset 0 -6px rgb(42, 40, 40);
}

.main-nav li:hover a {
    color: rgb(42, 40, 40);
    box-shadow: inset 0 -6px rgb(42, 40, 40);
}

.btn-menu-toggle {
    display: none;
    visibility: hidden;
}

/* SEARCH-BAR */

.search {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    background-color: #afa8a8;
}

.search input {
    margin: 5px;
    padding: 10px;
    border: 2px solid black;
    color: #111;
    box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
    letter-spacing: 2px;
    text-transform: uppercase;
}

.search li, span {
    cursor: pointer;
    transition: color 0.3s;
}

.search li:hover {
    color: #ff7f00;
}

.search span:hover {
    color: #99540f;
}

.words-list li {
    margin: 10px;
}

/* GALLERY */

.gallery, .memes-container {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

.gallery-item {
    width: 100%;
    object-fit: contain;
    cursor: pointer;
    transition-duration: 0.2s;
}

.gallery-item:hover {
    transform: scale(1.1);
}

/* upload */

.meme-gen {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

.upload-img {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upload-img h2 {
    color: #a09b6e;
    font-family: 'Trocchi', serif;
    font-size: 2.5em;
    font-weight: normal;
    line-height: 1.8em;
    margin: 0;
}

/* GENERATOR */

.generator {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    gap: 100px;
}

/* CANVAS */

.canvas-container {
    height: 550px;
    width: 550px;
}

/* TOOLS */

.tools-container {
    display: flex;
    flex-direction: column;
}

/*CONTROL-BOX */

.control-box {
    height: 500px;
    margin: 0 10px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    gap: 5px;
}

.txt-input {
    width: 100%;
    height: 40px;
    margin: 0 5px;
    grid-row: 1;
    grid-column: 1/-1;
    background-color: #fff;
    border-radius: 6px;
}

.tool-btn {
    margin: 0 10px;
    height: 40px;
    background-color: #fff;
    cursor: pointer;
    padding: 5px;
    border-radius: 8px;
    transition: background-color 0.2s;
}

.tool-btn:hover {
    background-color: #ff7f00;
}

.line-up, .line-down, .switch-lines, .add-line, .delete-line {
    grid-row: 2;
}

.fonts-input {
    width: 100%;
    height: 40px;
    margin: 0 5px;
    background-color: #fff;
    cursor: pointer;
    grid-row: 4;
    grid-column: 1/4;
    border-radius: 6px;
}

.color-input {
    width: 1px;
    height: 1px;
    opacity: 0;
}

.publish-btn {
    background-color: #ff7f00;
    color: #fff;
    font-size: large;
    font-weight: bold;
    grid-row: 5;
    grid-column: 4/6;
    transition: background-color 0.2s;
}

.publish-btn:hover {
    background-color: rgb(44, 21, 144);
    color: #fff;
}

/* FOOTER */

.footer-bc {
    width: 100%;
}

.footer-content {
    font-size: 1.3em;
    padding: 10px 0;
}

/* ABOUT */

.about {
    min-height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.about-me {
    display: flex;
}

.about-me h3 {
    color: rgb(41, 39, 39);
    margin-bottom: 20px;
}

.about-links {
    display: flex;
    justify-content: space-around;
}

.about a {
    background-color: transparent;
}

.about a img {
    max-width: 50%;
}

/* MY-MEMES */

.memes {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meme-title h1{
    color: #7c795d;
    font-family: 'Trocchi', serif;
    font-size: 2.5em;
    font-weight: normal;
    line-height: 1.8em;
    margin: 0;
}

.meme-title h2{
    color: #8b8763;
    font-family: 'Trocchi', serif;
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1.8em;
    margin: 0;
}

/* MODAL */

.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    z-index: 30;
    background-color: #413f3aed;
    padding: 50px;
    transform: translate(-50%, -50%);
    gap: 25px;
}

.modal a{
    color: #fff;
}

.modal button:not(:last-child) {
    padding: 10px;
    color: #fff;
    border-radius: 15px;
    transition: box-shadow 0.1s ease-in-out;
}

.modal button:not(:last-child):hover {
    box-shadow: 4px 3px 7px 0px rgb(41 41 41 / 85%);
}

.facebook-modal {
    background-color: #3B5998;
    color: #fff;
}

.upload-modal {
    background-color: rgb(65, 161, 94);
}

.download-modal {
    background-color: rgb(231, 210, 25);
}

.save-modal {
    background-color: rgb(112, 49, 170);
}

.close-modal {
    position: absolute;
    background-color: rgb(223, 27, 27);
    color: #fff;
    top: 3px;
    right: 3px;
    padding: 5px;
    transition: background-color 0.3s ease-in;
}

.close-modal:hover {
    background-color: rgb(158, 44, 44);
}

/* SMALL PC */

@media screen and (max-width: 1280px) {
    .main-layout {
        width: 1040px;
    }
    .gallery, .memes-container {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 25px;
    }
    .gallery-item {
        object-fit: contain;
    }
    .generator {
        gap: 70px;
    }
}

/* TABLET */

@media screen and (max-width: 1090px) {
    .main-layout {
        width: 860px;
    }
    .gallery, .memes-container {
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        gap: 20px;
    }
    .gallery-item {
        object-fit: contain;
    }
    .generator {
        gap: 30px;
    }
}

/* PABLET */

@media screen and (max-width: 900px) {
    /* LAYOUT */
    .main-layout {
        width: 700px;
    }
    .main-container {
        padding-top: 50px;
    }
    /* GALLARY */
    .gallery, .memes-container {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
    /* GENERATOR */
    .generator {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        flex-flow: column wrap;
    }
    /* CANVAS */
    .canvas-container {
        margin-bottom: 50px;
    }
    /* TOOLS */
    .control-box {
        margin-top: 10px 0 0 0;
    }
}

/* MOBILE */

@media screen and (max-width: 760px) {
    /* CONTENT */
    /* body{
        width: fit-content;
    } */
    .main-layout {
        max-width: 95%;
    }
    /* GALLERY */
    .gallery, .memes-container {
        grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    }
    .gallery-item {
        object-fit: contain;
    }
    .gallery-item:hover {
        transform: unset;
    }
    /* MEMES */
    .memes {
        justify-content: center;
    }
    /* CANVAS */
    .canvas-container {
        height: 350px;
        width: 350px;
        margin-bottom: 10px;
    }
    /* TOOLS */
    .control-box {
        height: 400px;
    }
    /* NAVBAR */
    body.menu-open .main-nav {
        transform: translateX(0);
        box-shadow: -8px 0px 20px rgb(0 0 0 / 20%);
    }
    body.menu-open {
        opacity: 1;
        pointer-events: auto;
    }
    .nav-bar-bc {
        position: fixed;
    }
    .main-nav {
        z-index: 20;
        position: fixed;
        top: 40px;
        right: 0;
        flex-direction: column;
        background-color: rgb(41 41 41 / 95%);
        height: 100%;
        width: 100%;
        box-shadow: 0px 0px 0px transparent;
        transform: translateX(100%);
        transition: transform .4s;
    }
    .main-nav a {
        width: 100%;
        height: 130px;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: color .4s, box-shadow .2s;
    }
    .main-nav a.active {
        box-shadow: inset 0 -6px rgb(233, 230, 230);
        color: rgb(238, 230, 230);
    }
    .main-nav li:hover a {
        box-shadow: inset 0 -6px rgb(233, 230, 230);
        color: rgb(238, 230, 230);
    }
    .btn-menu-toggle {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        visibility: visible;
        color: rgb(32, 31, 31);
        padding: 7px 15px;
        border-radius: 0.2em;
        border: none;
        font-size: 1.2em;
    }
    .vertical-line {
        visibility: hidden;
        display: none;
    }
}

/* HELPERS */

.hidden {
    display: none !important;
    visibility: hidden;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.grid {
    display: grid;
}

/* LIST */

.clean-list {
    padding-inline-start: 0px;
    margin: 0;
    list-style-type: none;
}