/* BASE */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a, button {
    cursor: pointer;
}

/* NAVBAR */

/* LAYOUT */

.main-bc {
    background-color: #e3e3e3;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 98vh;
    justify-content: center;
}

.main-layout {
    width: 90vw;
    margin: 0 auto;
}

.nav-bar-bc, .footer-bc {
    background-color: #ff7f00;
}

.nav-bar-bc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* GALLERY */

.gallery {
    margin: 60px 0;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 30px;
}

.gallery-item {
    object-fit: contain;
    max-height: 33vh;
    cursor: pointer;
}

/* GENERATOR */

.generator {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* CANVAS */

.canvas-container {
    max-width: 500px;
    max-height: 500px;
    margin: 20px 0;
}

/* TOOLS */

.tools-container {
    display: flex;
    flex-direction: column;
}

.txt-input {
    width: 186.5px;
    height: 30px;
    margin: 0 0 1px;
    border-radius: 6px;
    background-color: #fff;
}

/*TOOLS BTNS */

.tools-grid {
    margin: 10px 0;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.tool-btn {
    cursor: pointer;
    max-width: 30px;
    max-height: 30px;
    margin: 4.5px 9px 0 9.5px;
    padding: 5.5px 5.2px 4.9px 5.2px;
    border-radius: 6px;
    background-color: #fff;
}

/* FOOTER */

.footer-bc {
    bottom: 0;
    left: 0;
    width: 100%
}